<!DOCTYPE html>
<html>
    <div th:replace="fragments/head.html :: head"></div>
    <body class="background-body">
        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>TerraSolis</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>Bubble Search</p>
                    <li class="active">
                        <a
                            href="#homeSubmenu"
                            data-toggle="collapse"
                            aria-expanded="false"
                            class="dropdown-toggle"
                            >Services
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a th:href="@{/organizations}"
                                    >Nos partenaires</a
                                >
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a
                            href="#pageSubmenu"
                            data-toggle="collapse"
                            aria-expanded="false"
                            class="dropdown-toggle"
                            >Pages</a
                        >
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="####" class="download">Content</a>
                    </li>
                    <li>
                        <a href="####" class="article">Back to article</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button
                            type="button"
                            id="sidebarCollapse"
                            class="btn btn-charte"
                        >
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                        <button
                            class="btn btn-dark d-inline-block d-lg-none ml-auto"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div
                            class="collapse navbar-collapse"
                            id="navbarSupportedContent"
                        >
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="twitter col-4">
                    <a
                        class="twitter-timeline"
                        href="https://twitter.com/Vivescia?ref_src=twsrc%5Etfw"
                        data-width="450"
                        data-height="600"
                        >Tweets by Vivescia</a
                    >
                    <script
                        async
                        src="https://platform.twitter.com/widgets.js"
                        charset="utf-8"
                    ></script>
                </div>
                <div class="jumbotron col-8">
                    <img
                        class="jumb-img"
                        src="http://terrasolis.fr/wp-content/uploads/2017/08/terrasolis-e1504170220736.png"
                        alt="Card image cap"
                    />
                    <h1 class="display-4">Cette semaine à l'affiche</h1>
                    <a href="/search" class="btn btn-secondary">Rechercher</a>
                </div>
            </div>
        </div>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>
