<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/head.html :: head"></div>
    <body class="flex-centered flex-column">
        <h1>Bubble annuaire</h1>
        <div class="bubble-container flex-centered">
            <div class="carousel flex-centered">
                <a href="/organization/1" class="a bubble flex-centered">
                    <span>Arvalis</span>
                </a>
                <a href="/organization/2" class="b bubble flex-centered">
                    <span>RITTMO</span>
                </a>
                <a href="/organization/3" class="c bubble flex-centered">
                    <span>CIVC</span>
                </a>
                <a href="/organization/4" class="d bubble flex-centered">
                    <span>GRDF</span>
                </a>
                <a href="/organization/5" class="e bubble flex-centered">
                    <span>INVIVO</span>
                </a>
                <a href="/organization/6" class="f bubble flex-centered">
                    <span>CRESTIC</span>
                </a>
            </div>
        </div>

        <button class="prev control">
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <button class="next control">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>
